#product-container {
  text-align: center;
  padding-bottom: 20px;
}

img {
  height: 300px;
  width: auto;
}

p {
  display: block;
  margin-top: 10px;
  margin-bottom: 0px;
}

.price {
  color: #828282;
}

.add-to-cart-button {
  display: block;
  margin: auto;
  margin-top: 2px;
}
