<section id="hero-section" class="">
  <div class="head-image-content">
    <h1 class="title">
      Walk the walk.
    </h1>
    <p class="subtitle">
      A fashion can become the prevailing style in behaviour or manifest the
      newest creations of designers, technologists, engineers, and design
      managers.
    </p>
  </div>
</section>

<section id="samples">
  <div class="row">
    <div class="offer-container col-xs-12 col-sm-4 offset-sm-2">
      <a routerLink="products" class=""
        ><div id="image-1" class="offer">
          <h2 class="title">
            Office casual
          </h2>
          <p class="subtitle uppercase">
            Collection
          </p>
        </div></a
      >
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="offer-container">
        <a routerLink="products"
          ><div id="image-2" class="offer offer-small">
            <h2 class="title">Shine on</h2>
            <p class="subtitle uppercase">
              Accesories
            </p>
          </div></a
        >
      </div>
      <div class="offer-container">
        <a routerLink="products"
          ><div id="image-3" class="offer offer-small">
            <h2 class="title">Spring is coming</h2>
            <p class="subtitle uppercase">
              Hats
            </p>
          </div></a
        >
      </div>
    </div>
  </div>
</section>
